<%= turbo_frame_tag quote do %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= quote.name %>
  </p>

  <p class="mt-5">
    <strong class="block font-medium mb-1">To JSON</strong>
  </p>

  <%= content_tag(:p, quote.to_json, data: {
    controller:"json",
    json_payload_value: quote.to_json
  })%>
  <p class="text-gray-600 dark:text-gray-300/75 text-xs italic my-6">Look the console</p>

  <div class="flex items-center">
    <%= link_to "Show this quote", quote, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", target: "_top" %>
    <%= link_to "Edit this quote", edit_quote_path(quote), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= button_to "Delete", quote_path(quote), method: :delete, class: "rounded-lg py-3 ml-2 px-5 bg-red-50 inline-block font-medium" %>
  </div>
  <hr class="mt-6">
<% end %>
